@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
p{
    @apply text-gray-700 mb-6 leading-relaxed text-sm md:text-lg;
}
h2, .h2{
    @apply text-[#008C44] text-[30px] md:text-[40px] lg:text-[45px] font-bold mb-6;
}

.testiin {
    border-radius: 500px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px 0px #00000026;
        z-index: 2;
    position: relative;
}
.rightimg {
    transform: skewX(-20deg);
    width: 50%;
    margin-right: -70px;
}

.rightimg img {
    transform: skewX(20deg);
    margin-left: -70px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}
.whattimg.rightimg{
    margin-right: -120px;
}
.whattimg.rightimg img{
        margin-left: -110px;
    width: 120%;
}
.catnews {
    min-width: 160px;
    position: relative;
}
.rightimg.lftimg {
    transform: skewX(-15deg);
    margin-right: 0;
    margin-left: -70px;
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 30px !important;
    color:#ED1C24;
}
.latestcon {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rightimg.lftimg img {
    margin-left: 70px;
    transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -o-transform: skewX(15deg);
}
.catnews::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 100%;
    background: #16a34a;
    top: 0;
    left: 88%;
    transform: skewX(-40deg);
    z-index: 0;
}
.procard {
    box-shadow: 0px 0px 30px 0px #00000026;
}
.swiper-slide .procard {
    margin: 30px 20px;
}
.tabmain {
    background: #F5F6E8;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
section.bannermain::after {
    background-color: #008C44;
    width: 150%;
    height: 100%;
    content: "";
    left: auto;
    top: 0;
    position: absolute;
    right: 65%;
    z-index: 0;
    transform: skewX(-25deg);
}
.bgc-dark .number {
    background: #fff;
    color: #008C44;
}
.bgc-dark .descon p {
    color: #fff;
}
@media(max-width:767px){
    .testiin {
    border-radius: 20px;
}
.rightimg {
    width: 100%;
    margin: 0;
    transform: none;
}
.rightimg img {
    transform: none;
    width: 100%;
    margin: 0;
}
section.bannermain::after {
    right: 50px;
}
.whattimg.rightimg {
    margin-right: 0;
}
.whattimg.rightimg img {
    margin-left: 0;
    width: 100%;
}
.leftmaincon {
    padding: 15px 0;
}
.tabmain button {
    width: 100%;
}
.video-embed iframe {
    width: 100%;
    height: auto;
}
}